<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%=title%></title>
</head>

    <frameset rows="20%,20%, *,30%">  
  
                <!Fist row>  
                <frame name="frame_a"  src="./frame_a.html" noresize scrolling="no"/>  
  
                <!Second row>  
                <frame name="frame_b" src="./frame_b.html" noresize scrolling="no"/>  

  
                <!Third row>
                <frame name="frame_c" src="./frame_c.html" noresize scrolling="no">  
                
                <!Last row>     
                <frame name="frame_d" src="./frame_d.html" noresize scrolling="no"/>  
  
    </frameset>  
  

</html>
