<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=title%></title>
 
    <link href="/stylesheets/main_login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/javascripts/Jikey.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            J.onBlurText('uname');
            J.onBlurText('pwd');
        }
    </script>
</head>
<body>
<div id="main">
  <div id="wrapper">
    <form action="#" method="Post" id="form1">
      <div id="sys_name">系统名称</div>
      <ul id="cont">
        <li>
          <label class="lb" for="uname">用户名</label>
          <input name="username" id="uname" type="text" class="ip" value="请输入用户名" maxlength="18" />
        </li>
        <li>
          <label class="lb" for="pwd">密码</label>
          <input name="password" id="pwd" type="password" class="ip" value="" maxlength="10" />
        </li>
        <li><span>
          <input  type="image" src="/images/ente.png" title="登录系统"/>
          </span></li>
      </ul>
      
    </form>
  </div>
</div>
</body>
</html>